/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@400;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* Hamburger */
.wrapper,
body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Hamburger Nav */
.hamburger-nav-links {
  display: none;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;

  background-color: black;
}

.hamburger-nav-links a {
  text-decoration: none;
  color: gray;
  font-size: 28px;
  font-weight: 700;
}

.hamburger-nav-links img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Main Content */
body {
  background: #191919;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0 10px;
}

/* Headings */

.heading {
  font-size: 48px;
  color: #cccccc;
}

.subheading {
  font-size: 25px;
  color: #a7a7a7;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a7a7;
  margin: 10px;
}

.nav-links a {
  color: #a7a7a7;
  text-decoration: none;
}

.nav-links ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-left: 10px;
}

.logo {
  font-family: "Cedarville Cursive", cursive;
  font-size: 25px;
}

.icon {
  height: 20px;
  width: 20px;
}

/* Hero Section */

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  color: #d9d9d9;
  margin: 120px 0;
}
.hero img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: center top;
  border-radius: 100%;
  border: 5px solid #a7a7a7;
  justify-self: end;
}

.hero-heading {
  line-height: 70px;
  text-align: left;
  justify-self: start;
  font-weight: 700;
}

/* Projects Section */

.projects {
  color: #cccccc;
  text-align: center;
  margin: 50px 0;
}

.projects-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
  list-style: none;
  justify-items: center;
  align-items: center;
  margin: 50px 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 567px;
  width: 350px;
  border-radius: 10%;
}

.project-info {
  text-align: center;
}
.project-description {
  text-align: center;
  height: 50%;

  background: #363636;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  padding: 10px;
}

.project-heading {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0px;
}

.project img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0px 0px;
}

.project-link-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.project-link-wrapper img {
  height: 15px;
  width: 15px;
}

.project-link-wrapper a {
  color: #cccccc;
}

.built-title {
  margin: 10px 0;
}

.built-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.built-with {
  border: 2px solid #191919;
  border-radius: 5px;
  padding: 5px;
}

/* Tech Stack Section */
.tech-stack-section {
  text-align: center;
  margin: 50px 0;
}

.tech-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style: none;
  justify-items: center;
  align-items: center;
  margin: 50px 0;
}

/* contact Section */

.contact-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
  margin: 50px 0;
  gap: 30px 0;
}

.contact-section input {
  display: block;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  margin: 15px 0;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

textarea,
input {
  padding: 7px;
}

.contact-text {
  text-align: center;
}

form button {
  width: 100%;
  transition: all 0.5s ease-out;
  color: white;
  background-color: #363636;
  cursor: pointer;
  height: 25px;
}

form button:hover {
  background-color: white;
  color: #363636;
}

footer {
  color: #a7a7a7;
  text-align: center;
}

/* Media quiries */

@media (max-width: 750px) {
  .hero img {
    justify-self: center;
  }

  .hero-heading {
    text-align: center;
    justify-self: center;
  }

  .hero {
    gap: 30px 0;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1000;
  }

  .hamburger-nav-links {
    display: flex;
    height: 70vh;
    width: 70%;
    position: absolute;
    top: 2%;
    right: 0%;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
    border-radius: 20px;
  }

  .slide {
    transform: translateX(0%);
  }
}
